<?xml version="1.0"?> 

<launch>
  <!-- <master auto="start"/> -->

  <!-- Run the map server -->
  <!--<node name="map_server" pkg="map_server" type="map_server" args="$(find f1tenth_2dnav)/maps/living3.yaml"/>-->
  <!--<node name="map_server" pkg="map_server" type="map_server" args="/home/jens/living1.yaml"/>-->

  <!--- Run AMCL -->
  
  <!--<include file="$(find amcl)/examples/amcl_omni.launch" />-->
  
  <!--
  <node pkg="amcl" type="amcl" name="amcl">
	<param name="use_map_topic" value="true"/>
	<param name="odom_frame_id" value="odom"/>
	<param name="scan" value="scan"/>
  </node>
  -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find f1tenth_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find f1tenth_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find f1tenth_2dnav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find f1tenth_2dnav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find f1tenth_2dnav)/config/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
